<h1>Тест: <%= @test.title %></h1>
<% @questions.each do |question| %>
  <a href="/questions/<%= question.id %>"><%= question.body %></a> |
  <a href="/questions/<%= question.id %>" data-method="delete"><b>Delete</b></a>
  <br/><br/>
<% end %>
