<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <div class="navbar-brand"><%= link_to 'Test Guru', root_path %> Admin Panel</div>
    <span class="navbar-text">
      <% if user_signed_in? %>
          Welcome, <b><%= current_user.email %></b> Guru |
          <%= button_to "Log Out", destroy_user_session_path, method: :delete %>
      <% end%>
    </span>
  </div>
</nav>

