<div class="mt-3 mx-3">
  =========================================================<br/>
  <%= current_year %>, <%= github_url('mkskovalev', 'test-guru') %><br>
  <b>Test Guru</b> - project where you can find the answer to any question.<br>
  Users leave questions and other users answer them.
  <br><br>
  Educational project in online school <a href="https://thinknetica.com/">Thinknetica</a>
</div>
