.container {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}

.container.admin{
  background: #3c85e0;
  padding: 10px;
  color: #FFF;
}

.container > .logo > a {
  font-size: 32px;
  font-weight: 700;
  text-decoration: none;
  color: #000;
}

.container > .logo > a:hover {
  background-color: yellow;
}

.conrainer > .user{
  width: 200px;
}
